.footer {
  background-color: #252c41;
  direction: rtl;
  color: #858b9f;
  
}

.footerLogo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footerAddress {
  color: #858b9f;
  font-size: 13px;
}

.widgetTitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footerMenu li {
  list-style: none;
  margin-top: 15px;
  display: block;
}

.footerMenu .linkWidget {
  color: #858b9f;
  font-size: 14px;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  text-decoration: none;
}

.linkWidget:hover {
  color: #fff;
}

.storeLink {
  text-decoration: none;
  width: auto;
  margin-bottom: 20px;
  display: inline-block;
}

.storeApp {
  width: 250px;
  height: 70px;
  border: 1px solid #353d56;
  padding: 0 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all ease .4s;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
}

.storeApp:hover{
  border: 1px solid #47547a;

}

.storeIconSection{
    margin-left: 13px;
}

.playStoreIcon{
    color: #da0b4e;
    font-size: 32px;
}

.storeCaps{
    font-size: 15px;
    font-weight: 500;
}

.storeCaps span{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #858b9f;
}

.footerBottom {
  background-color: #1b2132;
  padding: 3px 0;
  margin-top: 30px;
}

.footerBottom p{
    font-size: 14px;
}

.text-left{
    text-align: left !important;
}

.footerButtomSocial{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-top: 20px;
}

 